{include app:admin.inc.iframe_header}

<!-- start container -->
<div class="container">

	<form role="form" class="content-add-form" id="content-add-form" autocomplete="off">
		<div class="form-group">
			<label>用户名</label>
			<input type="text" class="form-control" placeholder="用户名" required />
		</div>

		<div class="form-group">
			<label>手机号码</label>
			<input type="text" dtype="mobile" class="form-control" placeholder="手机号码" required />
		</div>

		<div class="form-group">
			<label>选择银行</label>
			<select class="form-control">
				<option value="1">中信银行</option>
				<option value="2">平安银行</option>
				<option value="3">广发银行</option>
				<option value="4">光大银行</option>
				<option value="5">交通银行</option>
			</select>
		</div>

		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" placeholder="Password">
		</div>

		<div class="form-group">
			<label>开关</label>
			<div>
				<input type="checkbox" class="bswitch" data-size="large" data-handle-width="100">
				<input type="checkbox" class="bswitch" data-size="normal" checked data-on-text="开启" data-off-text="关闭">
				<input type="checkbox" class="bswitch" data-size="small">
				<input type="checkbox" class="bswitch" data-size="mini">
			</div>
		</div>

		<div class="form-group">
			<label>checkbox</label>
			<div>
				<label><input type="checkbox" class="icheck" checked> 选项一</label>
				<label><input type="checkbox" class="icheck"> 选项二</label>
				<label><input type="checkbox" class="icheck"> 选项三</label>
				<label><input type="checkbox" class="icheck"> 选项四</label>
			</div>
		</div>

		<div class="form-group">
			<label>radio</label>
			<div>
				<label><input type="radio" name="icheck" class="icheck" checked> 选项一</label>
				<label><input type="radio" name="icheck" class="icheck"> 选项二</label>
				<label><input type="radio" name="icheck" class="icheck"> 选项三</label>
				<label><input type="radio" name="icheck" class="icheck"> 选项四</label>
			</div>
		</div>

		<div class="form-group">
			<label>select2(支持搜索的下拉框)</label>
			<select class="form-control select2">
				<option value="1">中信银行</option>
				<option value="2">平安银行</option>
				<option value="3">广发银行</option>
				<option value="4">光大银行</option>
				<option value="5">交通银行</option>
			</select>
		</div>

		<a href="/admin/index/insert" class="btn btn-primary ajaxproxy"
		   proxy='{"method":"post", "location":"/admin/index/clist"}'>提交保存</a>
	</form>

</div><!-- end of container -->

{include app:admin.inc.res}

</body>
</html>
