//reset css
.inner-iframe {
	.breadcrumb {
		background-color: #D4D4D4;
		border-radius:0;
		line-height: 2;

		.glyphicon-chevron-right {
			font-size: 10px;
			font-weight: 200;
		}
	}

	.inner-container {
		padding: 10px 20px;

		.content-add-form {
			max-width: 800px;
		}
	}
}

