{include common.inc_header}

<section>
    <!-- left side start-->
	{include common.inc_left}
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        {include common.inc_top}
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            {这里是页头}
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            {这里是页面的主体}
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        {include common.inc_footer}
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

{include common.inc_script}

</body>
</html>
