<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="herosphp, bootstrap">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Admin Index</title>

    <!--icheck-->
    {cres:css framework/js/iCheck/skins/minimal/_all.css}

    <!--dashboard calendar-->
	{cres:css framework/css/clndr.css}

    <!--Morris Chart CSS -->
	{cres:css framework/js/morris-chart/morris.css}

    <!--common-->
    {cres:css framework/css/style.css}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    {cres:js framework/js/html5shiv.js}
    {cres:js framework/js/respond.js}
    <![endif]-->
</head>

<body class="sticky-header">

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

</body>
</html>
