
<!-- Placed js at the end of the document so the pages load faster -->
{cres:js framework/js/jquery-1.10.2.min.js}
{cres:js framework/js/jquery-ui-1.9.2.custom.min.js}
{cres:js framework/js/jquery-migrate-1.2.1.min.js}
{cres:js framework/js/bootstrap.min.js}
{cres:js framework/js/modernizr.min.js}
{cres:js framework/js/jquery.nicescroll.js}

<!--easy pie chart-->
{cres:js framework/js/jquery.nicescroll.js}
{cres:js framework/js/easypiechart/jquery.easypiechart.js}
{cres:js framework/js/easypiechart/easypiechart-init.js}

<!--Sparkline Chart-->
{cres:js framework/js/sparkline/jquery.sparkline.js}
{cres:js framework/js/sparkline/sparkline-init.js}

<!--icheck -->
{cres:js framework/js/iCheck/jquery.icheck.js}
{cres:js framework/js/icheck-init.js}

<!-- jQuery Flot Chart-->
<!--{cres:js framework/js/flot-chart/jquery.flot.js}-->
<!--{cres:js framework/js/flot-chart/jquery.flot.tooltip.js}-->
<!--{cres:js framework/js/flot-chart/jquery.flot.resize.js}-->


<!--Morris Chart-->
<!--{cres:js framework/js/morris-chart/morris.js}-->
<!--{cres:js framework/js/morris-chart/raphael-min.js}-->

<!--Calendar-->
<!--{cres:js framework/js/calendar/clndr.js}-->
<!--{cres:js framework/js/calendar/evnt.calendar.init.js}-->
<!--{cres:js framework/js/calendar/moment-2.2.1.js}-->
<!--{cres:js framework/js/calendar/underscore-min.js}-->

<!--tags input-->
{cres:js framework/js/jquery-tags-input/jquery.tagsinput.js}

<!--ios7-->
{cres:js framework/js/ios-switch/switchery.js}
{cres:js framework/js/ios-switch/ios-init.js}

<!-- editor -->
{cres:js framework/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js}
{cres:js framework/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js}

<!--pickers plugins-->
{cres:js framework/js/bootstrap-datepicker/js/bootstrap-datepicker.js}
{cres:js framework/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}
{cres:js framework/js/bootstrap-daterangepicker/moment.min.js}
{cres:js framework/js/bootstrap-daterangepicker/daterangepicker.js}
{cres:js framework/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js}
{cres:js framework/js/bootstrap-timepicker/js/bootstrap-timepicker.js}

<!-- select2 -->
{cres:js framework/js/select2.min.js}

<!--common scripts for all pages-->
{cres:js framework/js/scripts.js}

<!--Dashboard Charts-->
<!--{cres:js framework/js/dashboard-chart-init.js}-->

<!-- app script plugins -->
{res:js ajaxupload/AjaxUpload.min.js}
{res:js jdialog/JDialog.min.js}
{res:js AjaxProxy.min.js}
{res:js JForm.min.js}
{res:js JTemplate.min.js}

{res:js common.js}
