<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="herosphp, bootstrap">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>{$title}</title>

    <!--icheck-->
    {cres:css framework/js/iCheck/skins/minimal/_all.css}
    {cres:css framework/js/iCheck/skins/square/_all.css}

    <!--dashboard calendar-->
	<!--{cres:css framework/css/clndr.css}-->

    <!--Morris Chart CSS -->
	<!--{cres:css framework/js/morris-chart/morris.css}-->

    <!-- common css-->
    {cres:css framework/css/table-responsive.css}
    {cres:css framework/css/style.css}
    {cres:css framework/css/style-responsive.css}

    <!-- ios and tags plugin -->
    {cres:css framework/js/ios-switch/switchery.css}
    {cres:css framework/js/jquery-tags-input/jquery.tagsinput.css}

    <!--pickers css-->
    {cres:css framework/js/bootstrap-datepicker/css/datepicker.css}
    {cres:css framework/js/bootstrap-datepicker/css/datepicker-custom.css}
    {cres:css framework/js/bootstrap-colorpicker/css/colorpicker.css}
    {cres:css framework/js/bootstrap-daterangepicker/daterangepicker-bs3.css}
    {cres:css framework/js/bootstrap-datetimepicker/css/datetimepicker-custom.css}

    <!-- editor -->
    {cres:css framework/js/bootstrap-wysihtml5/bootstrap-wysihtml5.css}

    <!-- select2 -->
    {cres:css framework/css/select2.css}

    <!-- app js plugins -->
    {cres:css app/js/bupload/css/upload.min.css}
    {cres:css app/js/jupload/css/upload.min.css}
    {cres:css app/js/tupload/css/upload.min.css}
    {cres:css app/js/jdialog/css/JDialog.min.css}

    {res:css style-custom.css}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    {cres:js framework/js/html5shiv.js}
    {cres:js framework/js/respond.js}
    <![endif]-->
</head>

<body class="sticky-header">

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

