{include app:admin.inc.header}

{include app:admin.inc.top}

<div class="container-fluid content-body">
	<div class="main">
		{include app:admin.inc.menu}

		<section class="right-section" id="right-section">
			<!-- start of inner-frame -->
			<div class="inner-iframe">

				<ul class="breadcrumb">
					<li>
						<i class="glyphicon glyphicon-home"></i>
						<span>当前位置：{$aaa}</span>
						<a href="#">基本页面</a>
						<i class="glyphicon glyphicon-chevron-right"></i>
						<a href="#">列表页</a>
					</li>
				</ul>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li><a href="/admin/index/"><i class="glyphicon glyphicon-plus"></i> 添加用户</a></li>
					<li class="active"><a href="/admin/index/clist"><i class="glyphicon glyphicon-th-list"></i> 用户列表</a></li>
					<li><a href="/admin/index/edit"><i class="glyphicon glyphicon-edit"></i> 编辑用户</a></li>
				</ul>

				<div class="inner-container">

					<form class="form-inline form-search" role="form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">标题</div>
								<input class="form-control input-sm" type="text" placeholder="Enter email">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">作者</div>
								<input class="form-control input-sm" type="text" placeholder="Enter email">
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">标题</div>
								<input class="form-control input-sm" type="text" placeholder="Enter email">
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">发布日期</div>
								<input class="form-control input-sm mdate" type="text" placeholder="发布日期" readonly>
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">标题</div>
								<input class="form-control input-sm" type="text" placeholder="Enter email">
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">作者</div>
								<input class="form-control input-sm" type="text" placeholder="Enter email">
							</div>
						</div>
						<button type="submit" class="btn btn-success btn-sm">
							<i class="glyphicon glyphicon-search"></i> 搜索</button>
					</form>

					<form id="J_List_Form">

						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="J_ListTable">
								<thead>
								<tr>
									<th width="20"><input type="checkbox" class="icheck check-all" /></th>
									<th>Table heading</th>
									<th>Table heading</th>
									<th>Table heading</th>
									<th>Table heading</th>
									<th>审核状态</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								{for ($i = 0; $i<10;$i++)}
								<tr>
									<td><input type="checkbox" class="icheck" name="ids[]" /></td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>Table cell</td>
									<td>
										<input type="checkbox" class="bswitch" value="1" data-size="mini" checked data-on-text="通过" data-off-text="失败">
									</td>
									<td>
										<a href="/admin/index/remove" class="btn btn-danger btn-xs item-remove">
											<i class="glyphicon glyphicon-trash"></i> 删除</a>
										<a href="/admin/index/edit" class="btn btn-primary btn-xs">
											<i class="glyphicon glyphicon-edit"></i> 修改</a>
									</td>
								</tr>
								{/for}
								</tbody>
							</table>
						</div>
					</form>

					<div class="button-group">
						<button class="btn btn-info btn-sm">审核</button>
						<button class="btn btn-info btn-sm">不审核</button>
						<button class="btn btn-info btn-sm">干点其事吧</button>
						<button class="btn btn-success btn-sm" id="popwin" data-template="user-add-template">弹出对话框</button>
					</div>

				</div>

			</div><!-- end of inner -->
		</section>

	</div>
</div>

<script type="text/html" id="user-add-template">
	<div class="pop-layer-box">
		<form role="form" class="content-add-form" id="content-add-form" autocomplete="off">
			<div class="form-group">
				<label>用户名</label>
				<input type="text" class="form-control" placeholder="用户名" required />
			</div>
			<p class="help-block text-error"></p>

			<div class="form-group">
				<label>手机号码</label>
				<input type="text" dtype="mobile" class="form-control" placeholder="手机号码" required />
			</div>
			<p class="help-block text-error"></p>

			<div class="form-group">
				<label>选择银行</label>
				<select class="form-control">
					<option value="1">中信银行</option>
					<option value="2">平安银行</option>
					<option value="3">广发银行</option>
					<option value="4">光大银行</option>
					<option value="5">交通银行</option>
				</select>
			</div>
			<p class="help-block text-error"></p>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password">
			</div>
			<p class="help-block text-error"></p>

			<div class="form-group">
				<label>开关</label>
				<div>
					<input type="checkbox" class="bswitch" data-size="large" data-handle-width="100">
					<input type="checkbox" class="bswitch" data-size="normal" checked data-on-text="开启" data-off-text="关闭">
					<input type="checkbox" class="bswitch" data-size="small">
					<input type="checkbox" class="bswitch" data-size="mini">
				</div>
			</div>

			<div class="form-group">
				<label>checkbox</label>
				<div>
					<label><input type="checkbox" class="icheck" checked> 选项一</label>
					<label><input type="checkbox" class="icheck"> 选项二</label>
					<label><input type="checkbox" class="icheck"> 选项三</label>
					<label><input type="checkbox" class="icheck"> 选项四</label>
				</div>
			</div>

			<div class="form-group">
				<label>radio</label>
				<div>
					<label><input type="radio" name="icheck" class="icheck" checked> 选项一</label>
					<label><input type="radio" name="icheck" class="icheck"> 选项二</label>
					<label><input type="radio" name="icheck" class="icheck"> 选项三</label>
					<label><input type="radio" name="icheck" class="icheck"> 选项四</label>
				</div>
			</div>

		</form>
	</div>
</script>

{include app:admin.inc.footer}

<script>
	seajs.use("user");
</script>
</body>
</html>
