{include app:admin.inc.header}

{include app:admin.inc.top}

<div class="container-fluid content-body">
	<div class="main">
		{include app:admin.inc.menu}

		<section class="right-section" id="right-section">
			<!-- start of inner-frame -->
			<div class="inner-iframe">

				<h2 style="padding-left: 20px;">500 Error Page：</h2>

				<div class="inner-container">
					<div class="error-page clearfix">
						<h2 class="headline text-red"> 500</h2>
						<div class="error-content">
							<h3><i class="glyphicon glyphicon-warning-sign text-red"></i> 抱歉! 系统出现了故障.</h3>
							<p style="font-size:16px; line-height: 180%">
								系统出现了故障，暂时无法正常访问或者页面不可用。
								你可以选择 <a href="javascript:window.history.go(-1);">返回</a>， 也可以稍后几分钟之后再访问。
							</p>
						</div><!-- /.error-content -->
					</div>
				</div>

			</div><!-- end of inner -->
		</section>

	</div>
</div>

{include app:admin.inc.footer}

{if $gotoUrl}
<script>
	$(document).ready(function() {
		setTimeout(function() {
			location.replace('{$gotoUrl}');
		}, 2000)
	});
</script>
{/if}
</body>
</html>
