<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{res:css bootstrap.min.css}
	{cres:css js/switch/bootstrap-switch.min.css}
	{cres:css js/icheck/skins/minimal/blue.css}
	{cres:css js/select2/select2.min.css}
	{cres:css js/jdialog/css/JDialog.min.css}

	<!-- Custom styles for this template -->
	{res:css iframe.css}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	{res:js bootstrap/html5shiv.min.js}
	{res:js bootstrap/respond.min.js}
	<![endif]-->
</head>

<body>
<!-- Preloader -->
<div id="preloader">
	<div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

