@charset "UTF-8";
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #e4e7ea url("images/loader.gif") no-repeat center center; }

/**
custom styles
*/
.navbar-inverse {
  background-color: #24282F; }
  .navbar-inverse .navbar-collapse {
    background-color: #24282F; }
  .navbar-inverse .dropdown-menu.user > li > a {
    padding-top: 8px;
    padding-bottom: 8px; }

body {
  background-color: #333943; }
  body .content-body {
    padding: 0; }

.main {
  padding: 50px 0px 0px 0px;
  width: 100%; }
  .main .left-section {
    float: left;
    width: 20%; }
    .main .left-section .nav .nav-parent > a {
      color: #f1f1f1;
      font-family: "微软雅黑";
      font-size: 14px;
      display: block;
      border-top: 1px solid #3D454E;
      border-bottom: 1px solid #24282F; }
      .main .left-section .nav .nav-parent > a:hover, .main .left-section .nav .nav-parent > a:active, .main .left-section .nav .nav-parent > a:visited, .main .left-section .nav .nav-parent > a:focus {
        background-color: #333943; }
    .main .left-section .nav .nav-parent .children {
      padding: 0;
      display: none; }
      .main .left-section .nav .nav-parent .children .active a {
        background-color: #00BF9B;
        color: #ffffff; }
      .main .left-section .nav .nav-parent .children a {
        display: block;
        padding: 6px 10px 6px 30px;
        color: #6B8182; }
        .main .left-section .nav .nav-parent .children a:hover {
          background-color: #00BF9B;
          text-decoration: none;
          color: #ffffff; }
  .main .right-section {
    padding: 0;
    float: left;
    width: 80%;
    background: #ffffff; }
    .main .right-section .inner-iframe .breadcrumb {
      background-color: #D4D4D4;
      border-radius: 0;
      line-height: 2;
      margin-bottom: 10px; }
      .main .right-section .inner-iframe .breadcrumb .glyphicon-chevron-right {
        font-size: 10px;
        font-weight: 200; }
    .main .right-section .inner-iframe .inner-container {
      padding: 10px 20px; }
      .main .right-section .inner-iframe .inner-container .content-add-form .btn-group {
        margin-top: 20px;
        margin-bottom: 30px; }

.btn-group-or {
  position: relative; }
  .btn-group-or .btn-primary {
    padding-right: 20px; }
  .btn-group-or .btn-default {
    padding-left: 20px; }
  .btn-group-or .or {
    position: absolute;
    z-index: 10;
    padding: 5px;
    width: 30px;
    height: 30px;
    left: 74px;
    top: 2px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #5CB85C;
    color: #ffffff; }

.pop-layer-box {
  padding: 10px 20px; }

.text-error {
  color: #cc0000; }

.img-upload {
  cursor: pointer;
  margin-left: 5px;
  display: block;
  width: 118px;
  height: 118px;
  border: 1px solid #ccc;
  margin-top: 4px; }
  .img-upload .glyphicon-picture {
    font-size: 40px;
    display: block;
    margin-top: 20px; }
  .img-upload .upload-text {
    display: block;
    padding: 10px 20px; }

.form-search {
  padding-bottom: 10px; }

@media (min-width: 1200px) {
  .main .left-section {
    width: 15%; }
  .main .right-section {
    width: 85%; } }
footer {
  margin: 0px 0px 0px 0px;
  padding: 10px 20px;
  color: #fff !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  footer a {
    color: #999999; }

.error-page {
  width: 600px;
  margin: 20px auto 0 auto; }
  .error-page .headline {
    font-size: 100px;
    font-weight: 300; }

.text-yellow {
  color: #f39c12 !important; }

.text-red {
  color: #dd4b39 !important; }

/*# sourceMappingURL=style.css.map */
