/**
 * 新增css
 * @author		yangjian<yangjian102621@gmail.com>
 */

body {background: url(../images/admin-bg-page.png) repeat transparent;}

/**
 * 导航样式 
 */
.susou-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #418BCA;
  border-color: #2B669A;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.susou-nav .navbar-collapse {
  border-color: #2B669A;
}
.susou-nav .navbar-brand {
  color: #FFFFFF;
}
.susou-nav .navbar-nav > li > a {
  color:#FAEBCC;
}
.susou-nav .navbar-nav > li > a:hover {
  color: #FFFFFF;
}
.susou-nav .navbar-nav > .active > a,
.susou-nav .navbar-nav > .active > a:hover,
.susou-nav .navbar-nav > li > a:hover,
.susou-nav .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #2B669A;
}
.susou-nav .navbar-toggle {
  border-color: #2B669A;
}
.susou-nav .navbar-toggle:focus {
    background-color: #418BCA;
    border-color: #2B669A;
}

.susou-nav .navbar-toggle:hover {
  background-color: #2B669A;
  border-color: #2B669A;
}

/**
 * sidebar 样式     
 */
.susou-sidebar {background-color:#428BCA;}
/* 一级菜单样式 */
.susou-sidenav .nav-level-1,
.susou-sidenav .nav-level-1:focus {
    color:#FFFF00;
    background-color:#428BCA;
    border-top:1px solid #68A2D5;
    border-bottom:1px solid #2C689E;
}

/* 二级菜单 */
.nav-level-2 {
    padding:10px 0px 10px 0px;
    border-bottom:1px solid #2C689E;
}
.susou-sidenav .nav-level-2 > li > a {
    color:#FFFFFF;
}

/* active 菜单样式 */
.susou-sidenav .fmenu_active > a, 
.susou-sidenav .nav-level-1:hover, 
.susou-sidenav .fmenu_active >a:focus {
    background-color:#F1F1F1;
    border-right: 2px solid #FF9900;
    color: #2B669A;
}
.susou-sidenav .nav-level-1:hover {
    background-color:#FFFFFF;
}

.susou-sidenav .nav-level-2 .smenu_active,
.susou-sidenav .nav-level-2 li:hover,
.susou-sidenav .nav-level-2 li:focus {
    background-color:#2B669A;
    border-right: 2px solid #FFFF00;
}
.susou-sidenav .nav-level-2 .smenu_active > a,
.susou-sidenav .nav-level-2 > li > a:hover {
    color:#FAEBCC;
}