<section class="left-section">
	<ul class="nav">
		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-home"></i> <span>基本页面</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
			<ul class="children">
				<li><a href="/admin/index/index"><i class="glyphicon glyphicon-record"></i> 表单页</a></li>
				<li><a href="/admin/index/clist" data-url="/admin/index/clist"><i class="glyphicon glyphicon-record"></i> 列表页</a></li>
				<li><a href="form-validation.html"><i class="glyphicon glyphicon-record"></i> 编辑器</a></li>
				<li><a href="x-editable.html"><i class="glyphicon glyphicon-record"></i> 其他页面</a></li>
			</ul>

		</li>

		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-cog"></i> <span>网站设置</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
			<ul class="children">
				<li><a href="general-forms.html"><i class="glyphicon glyphicon-record"></i> General Forms</a></li>
				<li><a href="form-layouts.html"><i class="glyphicon glyphicon-record"></i> Form Layouts</a></li>
				<li><a href="form-validation.html"><i class="glyphicon glyphicon-record"></i> Form Validation</a></li>
				<li><a href="x-editable.html"><i class="glyphicon glyphicon-record"></i> X-Editable</a></li>
			</ul>
		</li>
		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-signal"></i> <span>商铺中心</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
		</li>
		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-cloud"></i> <span>Sass服务</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
		</li>
	</ul>
</section>