//页面标题样式
.page-title {
	float: left;
	h3 {margin:12px 10px;}
}

//面包屑导航
.main-content {
	.breadcrumb {
		width: 100%;
		background-color: #ffffff;
		z-index: 2;
		position: fixed;
	}

	.wrapper {

		margin-top: 38px;
		background: #ffffff;

		.table-hover {
			tbody {
				tr:hover {
					color: #65cea7;
				}
			}
		}
	}
}

.form-horizontal {
	max-width: 90%;
	margin-bottom: 80px;

	.form-group {
		.icheck {
			padding-top: 6px;
		}
		.tagsinput {
			.tag {
				span,a {color: #ffffff;}
			}
		}

		input.error {
			border-color: #FF6C60 !important;
		}
		label.error {
			color: #FF6C60 !important;;
		}
	}
}

//search from styles
.search-form {
	margin-bottom: 10px;
	.form-group {
		margin-bottom: 5px;
		.control-label {
			font-size: 12px;
			padding: 7px;
		}
	}
}

//data list table styles
.J_List_Table {
	.no-records {
		text-align: center;
		font-size: 16px;
		padding: 40px 0px;
	}
}
