<!DOCTYPE html>
<html lang="en">
{include app:admin.header}
<body>

<div class="inner-iframe">
	<ul class="breadcrumb">
		<li>
			<i class="glyphicon glyphicon-home"></i>
			<span>当前位置：</span>
			<a href="#">表单元素</a>
			<i class="glyphicon glyphicon-chevron-right"></i>
			<a href="#">基本元素</a>
		</li>
	</ul>

	<div class="inner-container">

		<form role="form" class="content-add-form" autocomplete="off">
			<div class="form-group">
				<label>Email address</label>
				<input type="text" class="form-control" placeholder="Enter email">
			</div>

			<div class="form-group">
				<label>Email address</label>
				<input type="text" class="form-control" placeholder="Enter email">
			</div>

			<div class="form-group">
				<label>选择银行</label>
				<select class="form-control">
					<option value="1">中信银行</option>
					<option value="2">平安银行</option>
					<option value="3">广发银行</option>
					<option value="4">光大银行</option>
					<option value="5">交通银行</option>
				</select>
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" placeholder="Password">
			</div>

			<div class="form-group">
				<label>开关</label>
				<div>
					<input type="checkbox" class="bswitch" data-size="large" data-handle-width="100">
					<input type="checkbox" class="bswitch" data-size="normal" checked data-on-text="开启" data-off-text="关闭">
					<input type="checkbox" class="bswitch" data-size="small">
					<input type="checkbox" class="bswitch" data-size="mini">
				</div>
			</div>

			<div class="form-group">
				<label>checkbox</label>
				<div>
					<label><input type="checkbox" class="icheck" checked> 选项一</label>
					<label><input type="checkbox" class="icheck"> 选项二</label>
					<label><input type="checkbox" class="icheck"> 选项三</label>
					<label><input type="checkbox" class="icheck"> 选项四</label>
				</div>
			</div>

			<div class="form-group">
				<label>radio</label>
				<div>
					<label><input type="radio" name="icheck" class="icheck" checked> 选项一</label>
					<label><input type="radio" name="icheck" class="icheck"> 选项二</label>
					<label><input type="radio" name="icheck" class="icheck"> 选项三</label>
					<label><input type="radio" name="icheck" class="icheck"> 选项四</label>
				</div>
			</div>

			<div class="form-group">
				<label>select2(支持搜索的下拉框)</label>
				<select class="form-control select2">
					<option value="1">中信银行</option>
					<option value="2">平安银行</option>
					<option value="3">广发银行</option>
					<option value="4">光大银行</option>
					<option value="5">交通银行</option>
				</select>
			</div>

 			<button type="submit" class="btn btn-primary">提交表单</button>
		</form>

	</div>
</div>
{include app:admin.res}

<script>
	$(document).ready(function() {

		//switch
		$(".bswitch").bootstrapSwitch({
			onColor : 'success'
		});

		//icheck
		$(".icheck").iCheck({
			checkboxClass: 'icheckbox_minimal-blue',
			radioClass: 'iradio_minimal-blue',
			increaseArea: '20%' // optional
		});

		//select2
		$('.select2').select2({});

	});
</script>
</body>
</html>