<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>index page</title>

	<!-- Bootstrap core CSS -->
	{res:css bootstrap.min.css}
	<!-- Custom styles for this template -->
	{res:css style.css}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	{res:js bootstrap/html5shiv.min.js}
	{res:js bootstrap/respond.min.js}
	<![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">您好，阳建 <span class="caret"></span></a>
					<ul class="dropdown-menu user" role="menu">
						<li><a href="#"><i class="glyphicon glyphicon-user"></i> 个人资料</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-edit"></i> 修改账户</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-off"></i> 修改账户</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid content-body">
	<div class="main">
		<section class="left-section col-sm-3" id="left-section">
			<ul class="nav nav-stacked">
				<li><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
				<li class="nav-parent"><a href=""><i class="fa fa-edit"></i> <span>Forms</span></a>
					<ul class="children">
						<li><a href="general-forms.html"><i class="fa fa-caret-right"></i> General Forms</a></li>
						<li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> Form Layouts</a></li>
						<li><a href="form-validation.html"><i class="fa fa-caret-right"></i> Form Validation</a></li>
						<li><a href="form-wizards.html"><i class="fa fa-caret-right"></i> Form Wizards</a></li>
						<li><a href="wysiwyg.html"><i class="fa fa-caret-right"></i> Text Editor</a></li>
						<li><a href="code-editor.html"><i class="fa fa-caret-right"></i> Code Editor</a></li>
						<li><a href="x-editable.html"><i class="fa fa-caret-right"></i> X-Editable</a></li>
					</ul>
				</li>

			</ul>
		</section>

		<section class="right-section col-sm-9" id="right-section">
			<ul class="breadcrumb">
				<li>
					<i class="glyphicon glyphicon-home"></i>
					<span>当前位置：</span>
					<a href="#">用户中心</a>
					<i class="glyphicon glyphicon-chevron-right"></i>
					<a href="#">修改密码</a>
				</li>
			</ul>
		</section>

	</div>
</div>

{res:js jquery.min.js}
{res:js bootstrap/bootstrap.min.js}
<script>
	$(document).ready(function() {
		var leftWith = $('#left-section')[0].offsetWidth;
		if ( leftWith == 250 ) {
			$('#right-section').width($(document).width() - leftWith);
		}
	});
</script>
</body>
</html>
