<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="yangjian102621@gmail.com">
	<link rel="icon" href="../../favicon.ico">

	<title>index page</title>

	{res:css css/bootstrap.min.css}
	{res:css js/plugins/switch/bootstrap-switch.min.css}
	{res:css js/plugins/icheck/skins/minimal/blue.css}
	{res:css js/plugins/select2/select2.min.css}
	{res:css js/plugins/jdialog/css/JDialog.min.css}
	{res:css js/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css}
	{res:css js/plugins/kindeditor/themes/default/default.css}
	{res:css js/plugins/jupload/css/upload.min.css}

	<!-- Custom styles for this template -->
	{res:css css/style.css}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	{res:js bootstrap/html5shiv.min.js}
	{res:js bootstrap/respond.min.js}
	<![endif]-->

	{res:js plugins/jquery.min.js}
</head>

<body>
<!-- Preloader -->
<div id="preloader">
	<div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

