<section class="left-section">
	<ul class="nav">
		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-home"></i> <span>基本页面</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
			<ul class="children">
				<li><a href="/admin/index/index"><i class="glyphicon glyphicon-record"></i> 表单添加页</a></li>
				<li><a href="/admin/index/clist" data-url="/admin/index/clist"><i class="glyphicon glyphicon-record"></i> 数据列表页</a></li>
				<li><a href="/admin/index/edit"><i class="glyphicon glyphicon-record"></i> 编辑页面</a></li>
				<li><a href="/admin/index/error"><i class="glyphicon glyphicon-record"></i> 错误页面</a></li>
				<li><a href="/admin/index/page404"><i class="glyphicon glyphicon-record"></i> 404页面</a></li>
				<li><a href="/admin/index/page500"><i class="glyphicon glyphicon-record"></i> 500页面</a></li>
			</ul>

		</li>

		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-cog"></i> <span>网站设置</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>

		</li>
		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-signal"></i> <span>商铺中心</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
		</li>
		<li class="nav-parent">
			<a href="javascript:void(0);">
				<i class="glyphicon glyphicon-cloud"></i> <span>Sass服务</span>
				<i class="pull-right glyphicon glyphicon-plus"></i>
			</a>
		</li>
	</ul>
</section>