{include app:admin.inc.header}

{include app:admin.inc.top}

<div class="container-fluid content-body">
	<div class="main">
		{include app:admin.inc.menu}

		<section class="right-section" id="right-section">
			<!-- start of inner-frame -->
			<div class="inner-iframe">

				<ul class="breadcrumb">
					<li>
						<i class="glyphicon glyphicon-envelope"></i>
						<span>系统信息提示：</span>
					</li>
				</ul>

				<div class="inner-container">
					<div class="alert alert-{$messageType}" role="alert">
						<button type="button" class="close" data-dismiss="alert"></button>
						<h1>{$message}</h1>
						<h4>您可以进行如下操作：</h4>

						<p>
							<a href="javascript:window.history.go(-1);" class="btn btn-{$messageType}">返回</a>
							<a href="/admin/index/index" class="btn btn-default">去首页</a>
						</p>
					</div>
				</div>

			</div><!-- end of inner -->
		</section>

	</div>
</div>

{include app:admin.inc.footer}

{if $gotoUrl}
<script>
	$(document).ready(function() {
		setTimeout(function() {
			location.replace('{$gotoUrl}');
		}, 2000)
	});
</script>
{/if}
</body>
</html>
