<!-- top nav -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">您好，阳建 <span class="caret"></span></a>
					<ul class="dropdown-menu user" role="menu">
						<li><a href="#"><i class="glyphicon glyphicon-user"></i> 个人资料</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-edit"></i> 修改账户</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-off"></i> 修改账户</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>