<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{url test/demo/index}">HerosPHP Demos</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{url test/index/index}">首页</a></li>
				<li><a href="http://docs.r9it.com/herosphp/">文档</a></li>
				<li><a href="http://www.golaravel.com/php/" title="PHP 中文手册" target="_blank">PHP中文手册</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我们 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="http://www.r9it.com">一品鸟人</a></li>
						<li><a href="https://my.oschina.net/jcseg">狮子的魂</a></li>
						<li><a href="http://dongyado.com/">冬芽</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>