<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="herosphp, 轻量级高性能php框架">
	<meta name="author" content="yangjian">

	<title>文章分页列表</title>

	<!-- Bootstrap core CSS -->
	{res:css bootstrap.min.css}

</head>

<body role="document">

<!-- Fixed navbar -->
{include test.navigation}

<div class="container main" role="main">

	<ol>
		{loop $items $value}
		<li>
			<h4><a href="{url /test_article_detail/?id=$value[id]}" target="_blank">{$value[title]}</a></h4>
		</li>
		{/loop}
	</ol>

	<div class="container">
		{$pagemenu}
	</div>

	<br />
	<footer>
		<p>&copy; 飞碟科技 2015</p>
	</footer>
</div> <!-- /container -->

{res:js jquery-1.11.2.min.js}
{res:js bootstrap.min.js}
</body>
</html>